@font-face {
  font-family: "Apriori";
  src: url("../fonts/Apriori_Regular.eot");
  src: local("0"), url("../fonts/Apriori_Regular.woff") format("woff"), url("../fonts/Apriori_Regular.ttf") format("truetype"), url("../fonts/Apriori_Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
::-webkit-scrollbar-track {
  background-color: #5e5372;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #32b5a4;
}

::-webkit-scrollbar {
  width: 2px;
}

* {
  scrollbar-color: #32b5a4 #5e5372;
  scrollbar-width: very-thin;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

h1 {
  font-family: Apriori;
}

html,
body {
  height: 100%;
  min-width: 318px;
}

body {
  line-height: 1;
  font-family: Manrope;
  color: #333333;
  background-color: #5e5372;
  z-index: 2;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

footer {
  z-index: 3;
}

footer > strong > h1 {
  margin-bottom: 10px;
}

footer > strong > h1 > a {
  color: inherit;
}

footer > strong > h1 > a:hover {
  text-decoration: underline;
}

.teacher__img {
  position: fixed;
  bottom: 2%;
  right: calc(1% + 69 * (100vw - 320px) / 530);
  z-index: -1;
  width: auto;
  height: 90%;
  filter: drop-shadow(7px 32px 7px rgba(0, 0, 0, 0.473));
}

@media screen and (max-width: 767.98px) and (orientation: portrait) {
  .teacher__img {
    right: calc(5px + 10 * (100vw - 320px) / 930);
  }
}
.page {
  position: relative;
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1170px;
  margin: 0 auto;
}

@media (max-width: 1199.98px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
    padding: 0px 15px;
  }
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  color: #fff;
}

.header__container {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  gap: 10px;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__logo {
  position: relative;
  font-weight: 800;
  font-size: 28px;
  color: inherit;
  z-index: 14;
}

.menu__icon {
  display: none;
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 5px;
}

.menu__list > li {
  position: relative;
  padding: 10px 0px;
}

.menu__link,
.menu__sub-link {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 2px;
}

.menu__sub-list {
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 15px 10px 0px 0px;
  min-width: 80px;
}

.menu__sub-list > li {
  margin: 0px 0px 10px 0px;
}

.menu__sub-list > li > a {
  font-family: Apriori;
}

.menu__sub-list > li:last-child {
  margin: 0px;
}

.menu__list > li > a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -1px;
  background-color: #fff;
  transition: width 0.3s ease 0s;
}

.menu__list > li > a:hover:after {
  width: 100%;
  transition: width 0.3s ease 0s;
}

.menu__sub-link:hover {
  text-decoration: underline;
}

.menu__arrow {
  display: none;
}

body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__list > li {
  display: flex;
  align-items: center;
}

.menu._touch .menu__link {
  flex: 1 1 auto;
}

.menu__list > li > a {
  position: relative;
}

body._touch .menu__arrow {
  display: block;
  width: 0px;
  height: 0px;
  margin: 0px 0px 0px 5px;
  transition: transform 0.3s ease 0s;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #ffffff;
}

body._touch .menu__list > li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}

.menu__body._active {
  padding-left: 15px;
}

.menu__body._active {
  padding-left: 15px;
}

.menu__body._active .menu__link {
  font-size: 24px;
}

.sub__menu-toggle {
  display: none !important;
}

body._touch .menu__list > li._active .menu__arrow {
  transform: rotate(-180deg);
}

@media (min-width: 767.98px) {
  .menu__sub-list {
    transform: translate(0px, 5%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
  }
}
@media (max-width: 767.98px) {
  .sub__menu-toggle {
    display: block !important;
  }
  .menu__toggle {
    display: none !important;
  }
  .menu__icon {
    z-index: 15;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span,
.menu__icon::before,
.menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu__icon::before,
.menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    transform: scale(0);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
  .menu__item {
    color: #fff;
  }
  body._touch .menu__arrow {
    display: none;
    border-top: 10px solid #ffffff;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    z-index: 2;
  }
  .menu__body {
    position: fixed;
    z-index: 13;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #5e5372;
    opacity: 0.9;
    padding: 90px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__list {
    flex-direction: column;
    align-items: flex-start;
  }
  .menu__list > li {
    margin: 0px 0px 30px 0px;
  }
  .menu__list > li:last-child {
    margin-bottom: 0px;
  }
  .menu__sub-list {
    position: absolute;
    left: 100%;
    top: 100%;
    display: none;
  }
  .menu__toggle {
    display: none;
  }
}
.page {
  width: 100%;
  height: 300%;
}

.page__wrapper {
  position: relative;
  width: 100%;
}

.page__wrapper:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 145%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(1600px + 900 * (100vw - 320px) / 930);
  height: calc(1600px + 900 * (100vw - 320px) / 930);
  border-radius: 50%;
  background-color: #413659;
}

.page__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.page__container {
  position: relative;
  z-index: 3;
}

.page__container::before {
  content: "";
  position: absolute;
  width: calc(640px + 380 * (100vw - 320px) / 930);
  height: calc(640px + 380 * (100vw - 320px) / 930);
  border-radius: 50%;
  background-color: #32b5a4;
  top: 3%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -4;
}

.banner__wrapper {
  width: 100%;
  height: 100vh;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner__text p {
  font-size: calc(22px + 18 * (100vw - 320px) / 930);
  line-height: calc(25px + 20 * (100vw - 320px) / 930);
  margin-top: 40px;
  font-weight: 900;
  color: #ebe691;
  text-shadow: 5px 5px 5px #333333;
}

.banner__text h1 {
  font-family: Apriori;
  text-align: center;
  font-size: calc(40px + 20 * (100vw - 320px) / 930);
  line-height: calc(45px + 20 * (100vw - 320px) / 930);
  font-weight: 900;
  color: #ebe691;
  text-shadow: 5px 5px 5px #333333;
  text-transform: uppercase;
  margin-top: calc(15px + 20 * (100vw - 320px) / 930);
}

@media screen and (max-height: 400px) and (orientation: landscape) {
  .banner__text p {
    font-size: calc(16px + 14 * (100vw - 320px) / 930);
    line-height: calc(15px + 20 * (100vw - 320px) / 930);
  }
  .banner__text h1 {
    font-size: calc(30px + 20 * (100vw - 320px) / 930);
    line-height: calc(35px + 20 * (100vw - 320px) / 930);
  }
}
.science__wrapper {
  position: relative;
  flex: 1 1 auto;
  max-width: 1170px;
  min-height: 560px;
  padding-bottom: 40px;
  margin: 0px 0px 200px 0px;
}

.bookmat {
  box-sizing: content-box;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 240px;
  margin: 60px 0px 0px 225px;
  perspective: 75rem !important;
  transform: scale(1.4);
}

@media screen and (max-width: 1199.98px) and (orientation: portrait) {
  .banner__wrapper {
    height: 80vh;
  }
  .banner__text p {
    margin: 0px 0px 0px 0px;
  }
  .bookmat {
    margin: 60px 0px 0px 100px;
    transform: scale(1.2);
  }
  .science__wrapper {
    margin: 0px 0px 100px 0px;
  }
}
@media screen and (max-width: 991.98px) and (orientation: portrait) {
  .bookmat {
    margin: 60px 0px 0px 0px;
    transform: scale(1);
  }
  .science__wrapper {
    margin: 0px 0px 40px 0px;
  }
}
@media screen and (max-width: 767.98px) and (orientation: portrait) {
  .bookmat {
    margin: 60px 0px 0px 0px;
    transform: scale(0.8);
    left: -60px;
  }
  .science__wrapper {
    margin: 0px 0px 20px 0px;
  }
}
@media screen and (max-width: 527.98px) and (orientation: portrait) {
  .bookmat {
    margin: 60px 0px 0px 0px;
    transform: scale(0.6);
    left: -80px;
  }
}
@media screen and (max-width: 367.98px) and (orientation: portrait) {
  .bookmat {
    margin: 60px 0px 0px 0px;
    transform: scale(0.5);
    left: -80px;
  }
}
@media screen and (max-height: 1199.98px) and (orientation: landscape) {
  .bookmat {
    margin: 60px 0px 0px 100px;
    transform: scale(1.2);
    left: -80px;
  }
  .science__wrapper {
    margin: 0px 0px 100px 0px;
  }
  .page__wrapper:before {
    top: 160%;
  }
}
@media screen and (max-height: 991.98px) and (orientation: landscape) {
  .bookmat {
    margin: 60px 0px 0px 0px;
    transform: scale(1);
  }
  .science__wrapper {
    margin: 0px 0px 40px 0px;
    min-height: 600px;
  }
}
@media screen and (max-height: 767.98px) and (orientation: landscape) {
  .bookmat {
    top: -80px;
    margin: 0px 0px 0px 80px;
    transform: scale(1);
  }
  .science__wrapper {
    min-height: 460px;
    margin: 0px 0px 20px 0px;
  }
  .slider {
    margin-top: 0px;
  }
}
@media screen and (max-height: 467.98px) and (orientation: landscape) {
  .bookmat {
    transform: scale(0.6);
    left: -60px;
  }
  .science__wrapper {
    margin: 0px 0px 20px 0px;
  }
  .slider {
    margin-top: 0px;
  }
  .page {
    zoom: 0.8;
  }
}
@media screen and (max-width: 1199.98px) and (orientation: landscape) {
  .bookmat {
    margin: 60px 0px 0px 0px;
    transform: scale(0.9);
  }
  .science__wrapper {
    margin: 0px 0px 40px 0px;
    min-height: 600px;
  }
}
@media screen and (max-width: 991.98px) and (orientation: landscape) {
  .bookmat {
    top: -80px;
    margin: 0px 0px 0px 0px;
    transform: scale(0.7);
  }
  .science__wrapper {
    min-height: 380px;
    margin: 0px 0px 20px 0px;
  }
}
@media screen and (max-width: 467.98px) and (orientation: landscape) {
  .bookmat {
    transform: scale(0.6);
    left: -60px;
  }
  .science__wrapper {
    margin: 0px 0px 20px 0px;
  }
  .slider {
    margin-top: 0px;
  }
  .page {
    zoom: 0.8;
  }
}
@media (max-width: 810.98px) {
  .opened.book {
    transform: rotate(0) translate(-50%, -50%) scale(1.4);
    transition: all 3s;
  }
}
.container__fin img:first-child {
  position: absolute;
  top: 156px;
  left: -35px;
}
.container__fin img:nth-child(2n) {
  position: absolute;
  top: 408px;
  left: 35px;
}

.book {
  position: absolute;
  font: 0.8em/1.2 Georgia, serif;
  counter-reset: pagecounter;
  pointer-events: none;
  margin: auto;
  width: 36rem;
  height: 24rem;
  filter: drop-shadow(6px 15px 6px rgba(0, 0, 0, 0.55));
  transform-style: preserve-3d;
  perspective: 75rem;
  transition: all 1s 3s;
  background-color: transparent;
  transform: rotate3d(1, 0, 0, 12deg) scale(0.5) translateX(-50%);
}

.book__physics8 {
  top: 205px;
  left: 40px;
}

.book__math6 {
  top: -41px;
  left: 60px;
}

.book__math5 {
  top: -41px;
  left: -100px;
}

.opened.book {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 0px;
  transform: translate(-50%, -50%) scale(1.3);
  transition: all 3s;
}

.lesson-link button {
  background-color: transparent;
  font-size: calc(10px + 2 * (100vw - 320px) / 930);
  line-height: 14px;
  min-height: 30px;
  cursor: pointer;
}

.lesson-link button > p {
  font-size: calc(10px + 2 * (100vw - 320px) / 930);
  line-height: 15px;
  word-spacing: -2px;
  color: #392013;
}

.lesson-link button:hover {
  text-decoration: underline;
}

@media (max-width: 1499.98px) {
  .opened.book {
    position: absolute;
    top: 50%;
    left: 48%;
    transform: rotate(0) translate(-50%, -50%) scale(1.1);
    transition: all 3s;
  }
}
@media (max-width: 1199.98px) {
  .opened.book {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(0) translate(-50%, -50%) scale(1.3);
    transition: all 3s;
  }
}
@media (max-width: 991.98px) {
  .opened.book {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(0) translate(-50%, -50%) scale(1.3);
    transition: all 3s;
  }
  .lesson-link button {
    background-color: transparent;
    font-size: 14px;
  }
  .lesson-link button > p {
    font-size: 14px;
    line-height: 15px;
    word-spacing: -2px;
  }
}
@media (max-width: 767.98px) {
  .opened.book {
    left: 62%;
    transform: rotate(0) translate(-50%, -50%) scale(1.2);
    transition: all 3s;
  }
}
@media (max-width: 629.98px) {
  .opened.book {
    left: 64.5%;
    transform: rotate(0) translate(-50%, -50%) scale(1.1);
    transition: all 3s;
  }
}
@media (max-width: 529.98px) {
  .opened.book {
    left: 82%;
    transform: rotate(0) translate(-50%, -50%) scale(1.2);
    transition: all 3s;
  }
}
@media screen and (max-width: 529.98px) and (orientation: landscape) {
  .opened.book {
    left: 65%;
  }
}
@media (max-width: 439.98px) {
  .opened.book {
    left: 85%;
    transform: rotate(0) translate(-50%, -50%) scale(1.1);
    transition: all 3s;
  }
}
@media (max-width: 400.98px) {
  .opened.book {
    left: 87%;
    transform: rotate(0) translate(-50%, -50%) scale(1);
    transition: all 3s;
  }
}
@media (max-width: 367.98px) {
  .opened.book {
    left: 99%;
    transform: rotate(0) translate(-50%, -50%) scale(1);
    transition: all 3s;
  }
}
@media (max-width: 328.98px) {
  .opened.book {
    left: 105%;
    transform: rotate(0) translate(-50%, -50%) scale(0.95);
    transition: all 3s;
  }
}
.delay.book {
  z-index: 16;
}

.bookpage {
  pointer-events: none;
  color: #392013;
  background-color: hsl(20deg, 50%, 95%);
  padding: 0.4em;
  margin-bottom: -2em;
  line-height: 0;
  opacity: 0;
  transition: line-height 0.5s 0.6s, opacity 1s, transform 3s, margin-bottom 0.5s 0.6s;
  counter-increment: pagecounter;
  position: absolute;
  top: 0.5em;
  bottom: 0.5em;
  margin: 0;
  padding: 0;
  width: 50%;
  line-height: 1.2;
  opacity: 1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-shadow: inset 3px 0px 20px rgba(0, 0, 0, 0.1);
  transform-style: preserve-3d;
}

.front.cover {
  margin-bottom: 0;
  opacity: 1;
  pointer-events: all;
  right: -0.5em;
  border: none;
  margin-left: -0.1em;
  padding: 0.5em 0.25em;
  color: hsl(20deg, 10%, 80%);
  background-image: url(../img/5math.png);
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 0 5px 5px 0;
}

.back.cover.bookpage, .lastpage {
  background-image: url(../img/close_book.png);
  background-repeat: no-repeat;
  background-size: 80% auto;
  background-position: 50% 50%;
}

.back.cover.bookpage > h1 {
  font-size: 30px;
  text-align: center;
  margin-top: 15px;
}

.next__page-arrow {
  padding-bottom: 15%;
  background-image: url(../img/arrow_next_book.png);
  background-repeat: no-repeat;
  background-size: auto 30%;
  background-position: 50% 100%;
}

.prev__page-arrow {
  padding-bottom: 15%;
  background-image: url(../img/arrow_prev_book.png);
  background-repeat: no-repeat;
  background-size: auto 30%;
  background-position: 50% 100%;
}

.book__math6 .front.cover {
  background-image: url(../img/6math.jpg);
}

.book__physics8 .front.cover {
  background-image: url(../img/8physics.jpg);
}

.bookpage p,
.bookpage footer {
  padding: 0.3em 2em;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  text-align: justify;
}

.bookpage p {
  pointer-events: none;
}

.bookpage .booktitle {
  font-size: 2em;
  text-align: left;
}

.pagetext::first-letter {
  font-size: 2em;
}

.unrolled.book::before {
  transform: rotate(-90deg);
}

.unrolled.book > .bookpage {
  line-height: 1.2;
  margin-bottom: 0;
  opacity: 1;
  transition: line-height 1s, opacity 0.5s 0.6s, margin-bottom 1s;
}

/* ************************** BOOK MOBILE RTL ********************* */
/* ************************** BOOK DESKTOP DISPLAY ********************* */
.back {
  transform-origin: 100% 0;
  transform: rotateY(180deg);
  left: 0;
}

.front {
  transform-origin: 0 0;
  right: 0;
}

.back.flipped {
  transform: rotateY(0deg);
}

.front.flipped {
  transform: rotateY(-180deg);
}

.clickable {
  pointer-events: all;
}

.cover,
.lastpage {
  top: 0;
  bottom: 0;
  width: calc(50% + 0.5em);
  border-style: solid;
}

.back.cover {
  left: -0.4em;
  border-width: 4px 0 4px 4px;
  border-radius: 5px 0 0 5px;
}

.lastpage {
  right: -0.5em;
  border-width: 4px 4px 4px 0;
  border-radius: 0 5px 5px 0;
}

.bookpage .booktitle {
  padding: 3em 0 0 1.5em;
}

.bookpage footer {
  position: absolute;
  bottom: 0;
  margin: 4em 2em;
  font-size: 0.9em;
}

.bookpage:nth-child(n+3)::before {
  content: counter(pagecounter);
  display: block;
  padding: 1em 2em;
}

.bookpage:nth-child(odd)::before {
  text-align: right;
}

/* ************************** BOOK DESKTOP RTL ********************* */
.front.cover.bookpage {
  border-radius: 1px 4px 4px 1px;
}

.front.cover.bookpage:after {
  content: "";
  position: absolute;
  top: 0;
  left: 5px;
  bottom: 0;
  width: 4px;
  background: rgba(0, 0, 0, 0.199);
  box-shadow: 1px 0 3px rgba(255, 255, 255, 0.466);
}

.front.cover.bookpage:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0px;
  bottom: -10px;
  width: 98%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 2px;
  box-sizing: border-box;
  height: 10px;
  border-width: 4px;
  border-top-width: 4px;
  border-style: solid;
  background: rgba(218, 216, 216, 0.99);
  transform-origin: 0% 0%;
  transform: rotateX(15deg) skew(13deg, 0deg);
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease 0s, visibility 1s ease 0s, transform 1s ease 1s;
}

.book__math5 .back.cover, .book__math5 .lastpage {
  border-color: #C9DF7D;
}

.book__math5 .front.cover.bookpage:before {
  border-top-color: transparent;
  border-left-color: #758E32;
  border-bottom-color: #758E32;
  border-right-color: #758E32;
}

.book__math6 .back.cover, .book__math6 .lastpage {
  border-color: #dab152;
}

.book__math6 .front.cover.bookpage:before {
  border-top-color: transparent;
  border-left-color: #dab152;
  border-bottom-color: #dab152;
  border-right-color: #dab152;
}

.book__physics8 .back.cover, .book__physics8 .lastpage {
  border-color: #c58311;
}

.book__physics8 .front.cover.bookpage:before {
  border-top-color: transparent;
  border-left-color: #c58311;
  border-bottom-color: #c58311;
  border-right-color: #c58311;
}

.front.cover.bookpage.hide__before:before {
  opacity: 0;
  visibility: hidden;
  transform: rotateX(-99deg) skew(13deg, 0deg);
  transition: transform 1s ease 0s, opacity 0.5s ease 0.4s, visibility 0.5s ease 0.4s;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: center;
}

.slider {
  position: relative;
  padding-right: calc(50px + 40 * (100vw - 320px) / 930);
  padding-left: calc(50px + 40 * (100vw - 320px) / 930);
  z-index: 12;
  padding-top: calc(10px + 10 * (100vw - 320px) / 930);
  margin-bottom: 60px;
}

.slider__text {
  position: relative;
  z-index: 12;
  padding-right: calc(40px + 80 * (100vw - 320px) / 930);
  padding-left: calc(40px + 80 * (100vw - 320px) / 930);
}

.slider__text h3 {
  color: #ebe691;
  font-size: calc(16px + 14 * (100vw - 320px) / 930);
  text-shadow: 5px 5px 5px #333333;
}

.slider-link {
  display: flex;
  justify-content: center;
  cursor: default;
  z-index: 45;
}

.slider__img-link {
  cursor: pointer;
}

.slider .slide-track {
  display: block;
}

.slider__item {
  text-align: center;
  opacity: 0.4;
  transform: scale(1);
  zoom: 1;
  transition: all 0.3s ease 0s;
}

.slider__item.open {
  opacity: 0.8;
}

.slick-center {
  opacity: 1;
  zoom: 1.3;
  transition: all 0.3s ease 0s;
}

.slider__item img {
  width: calc(50px + 50 * (100vw - 320px) / 930);
}

.slider .slick-arrow {
  position: absolute;
  background-color: transparent;
  top: 43%;
  font-size: 0;
  cursor: pointer;
  transition: scale 0.3s ease 0s;
}

.slider .slick-arrow:before,
.slider .slick-arrow:after {
  content: "";
  position: absolute;
  border-radius: 5px;
}

.slider .slick-arrow.slick-prev {
  left: calc(40px + 60 * (100vw - 320px) / 930);
}

.slider .slick-arrow.slick-next {
  right: calc(40px + 60 * (100vw - 320px) / 930);
}

.slider .slick-arrow.slick-prev:after,
.slider .slick-arrow.slick-next:after {
  width: 30px;
  height: 30px;
}

.slider .slick-arrow.slick-prev:after {
  border-top: 7px solid #32b5a4;
  border-left: 7px solid #32b5a4;
  transform: rotate(-45deg);
  top: -15px;
  left: -25px;
}

.slider .slick-arrow.slick-next:after {
  border-top: 7px solid #32b5a4;
  border-left: 7px solid #32b5a4;
  transform: rotate(135deg);
  top: -15px;
  left: -5px;
}

.slider .slick-arrow:hover {
  transform: translateY(-75%) scale(1.1);
  transition: transform 0.3s ease 0s;
}

.slider .slick-arrow:active {
  transform: translateY(-75%) scale(1.02);
  transition: transform 0.3s ease 0s;
}

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .slick-dots li {
  list-style: none;
  margin: 10px 10px;
}

.slider .slick-dots button {
  font-size: 0;
  width: calc(5px + 5 * (100vw - 320px) / 930);
  height: calc(5px + 5 * (100vw - 320px) / 930);
  background-color: transparent;
  border-radius: 50%;
  border: solid 1px #32b5a4;
  cursor: pointer;
}

.slider .slick-dots li.slick-active button {
  background-color: #32b5a4;
}

#popup-2 > .popup__body {
  position: relative;
  padding: 20px 50px 300px 50px;
}

#popup-2 .popup__content {
  background-size: 0% 0%;
  padding: 0;
  background-color: transparent;
}

#popup-2 > .popup__body > .popup__content {
  background-size: 0% 0%;
  padding: 0;
}

#popup-2 > .popup__body > .popup__content > .close__btn {
  right: 0%;
  top: 0;
  width: calc(25px + 15 * (100vw - 320px) / 930);
  height: calc(25px + 15 * (100vw - 320px) / 930);
}

.slider__popup-content {
  position: relative;
  display: flex;
  justify-content: center;
}

.slider__img-wrap {
  position: relative;
}

.slider__img-wrap img:first-child {
  position: relative;
  display: block;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  top: 0;
  left: 0;
}

.slider__popup-img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}

.slider__popup-img.open {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: all 0.5s ease 0s;
}

#popup-2.open .slider {
  margin-top: 300px;
}

@media screen and (max-width: 990px) and (orientation: landscape) {
  .slider__img-wrap {
    width: 42%;
    height: 100%;
  }
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.795);
  top: 0;
  left: 0;
  z-index: 11;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
}

.popup__content {
  position: relative;
  background-color: #5e5372;
  color: rgb(255, 255, 255);
  max-width: 800px;
  max-height: 90vh;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

#popup-2 .slider__popup-content {
  width: 100%;
  background-color: transparent;
  padding: 0;
}

.lessons__wrap-popup {
  position: relative;
  width: 100%;
  max-height: 55vh;
  overflow-y: auto;
}

.close__btn:after,
.close__btn:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 7px;
  border-radius: 5px;
  right: calc(-5px + -30 * (100vw - 320px) / 930);
  top: calc(15px + 10 * (100vw - 320px) / 930);
  z-index: 2;
  cursor: pointer;
  background-color: #32b5a4;
  transition: all 0.3s ease 0s;
}

.close__btn:after {
  transform: scale(1) rotate(-45deg);
}

.close__btn:before {
  transform: scale(1) rotate(45deg);
}

.close__btn:hover::before {
  transform: scale(1.1) rotate(45deg);
  transition: all 0.3s ease 0s;
}

.close__btn:hover::after {
  transform: scale(1.1) rotate(-45deg);
  transition: all 0.3s ease 0s;
}

.close__btn:active::before {
  transform: scale(1.02) rotate(45deg);
  transition: all 0.3s ease 0s;
}

.close__btn:active::after {
  transform: scale(1.02) rotate(-45deg);
  transition: all 0.3s ease 0s;
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.popup__title {
  font-size: calc(20px + 10 * (100vw - 320px) / 930);
  line-height: calc(24px + 6 * (100vw - 320px) / 930);
  padding: 0px 10px 0px 5px;
  margin: 0px 0px 1em 0px;
  text-align: center;
}

.lesson__content-links {
  font-size: calc(16px + 8 * (100vw - 320px) / 930);
  padding: 0px 10px 0px 5px;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 20px;
}

.lesson__content-link a {
  position: relative;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease 0s;
}

.lesson__content-link > a > p:hover {
  text-decoration: underline;
  transition: -webkit-text-decoration 0.3s ease 0s;
  transition: text-decoration 0.3s ease 0s;
  transition: text-decoration 0.3s ease 0s, -webkit-text-decoration 0.3s ease 0s;
}

.lesson__content {
  width: 100%;
  height: 100%;
  align-items: center;
  display: none;
}
.lesson__content div,
.lesson__content ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.lesson__content-video {
  width: 100%;
  min-height: 240px;
}
.lesson__content-video h3,
.lesson__content-video p {
  margin-bottom: 10px;
}
.lesson__content-video .iframe__video {
  position: relative;
  padding: 0px 0px 56.3% 0px;
}
.lesson__content-video .iframe__video .iframe,
.lesson__content-video .iframe__video .to-play {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.lesson__content-video .iframe__video .to-play {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.lesson__content-video .iframe__video .to-play.removed__img {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}
.lesson__content-video .iframe__video .to-play:hover img {
  opacity: 1;
}
.lesson__content-video .iframe__video .to-play img {
  width: 70px;
  opacity: 0.7;
  transition: all 0.3s ease 0s;
}

.to-play.removed__img {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.to-play {
  background-repeat: no-repeat;
  background-size: 100%;
}

#math5__player-1 .to-play {
  background-image: url(../img/math5class/lesson1math5.jpg);
}

#math6__player-1 .to-play {
  background-image: url(../img/math6class/lesson1math6.jpg);
}

.lesson__content.open {
  display: block;
}

.math__class h1 {
  font-size: calc(30px + 20 * (100vw - 320px) / 930);
  line-height: calc(24px + 16 * (100vw - 320px) / 930);
  font-weight: 800;
  margin-bottom: 25px;
  padding-top: 15px;
  color: #552503;
  text-transform: uppercase;
}

.math__class-links {
  position: relative;
}

.science__class-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 16px;
  padding-bottom: 100px;
}

.science__class-link {
  position: relative;
}

.class__img {
  width: calc(80px + 60 * (100vw - 320px) / 930);
  background-color: #333333;
  box-shadow: rgb(32, 31, 31) 0px 20px 30px -10px;
  transition: all 0.3s ease 0s;
}

.class__img:hover {
  transform: scale(1.1);
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
  transition: all 0.3s ease 0s;
}

.class__img:active {
  transform: scale(1.02);
  transition: all 0.3s ease 0s;
}

._activate {
  height: 80vh;
  min-height: 900px;
}